
/*--------------------------products slider-----------------------------------*/

/*slider css*/
#owl-demo .item, #owl-demo2 .item, #owl-demo3 .item, #owl-demo4 .item {
  margin: 0 15px; }

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; 
margin-top: 0px !important;}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 40px; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; 
    margin-top: 0px !important;
    padding: 0px !important;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.btn1 {
  border-radius: 0 !important; }

.btn-default1 {
  padding: 6px 40px 6px 5px !important; }

.home-icon {
  color: #6a6a6a; }

/* Product css slider */
.carousel {
  margin-top: 0px !important;
    padding: 0px;
   }
.top{margin-top:10px !important}


.item img {
  max-width: 100%;
  max-height: 100%; }

.carousel-inner.fixed {
  height: 250px;
  width: 100%;
  border: solid 1px #a6a6a6; }

.product-thumb1 {
  width: 99%;
  margin: 0 3px;
  position: relative; 
}
.product-thumb1 .pro-img1 {
    height: 450px;
    width: 450px;
    display: table-cell;
    vertical-align: middle;
    text-align: center; 
}
.product-thumb1 .pro-img1 img {
      max-width: 100%;
      max-height: 100%; 
  }
.arrow-navi{
    float: right;
}
.arrow-navi .arrow span.design {
    display: block;
    border: 1px solid #e8e8e8;
    width: 20px;
    height: 20px;
    color: #cacaca;
    text-align: center;
    line-height: 20px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    background: #725955;
}
.font{
    font-size: 9px !important;
}
.arrow-navi{
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
.arrow{
  text-align: center;
width: 60px;
margin: 0px auto;
overflow: hidden;
}
 .owl-controls .owl-page.active span,.owl-controls.clickable .owl-page:hover span {
    opacity: 1;
}
.owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    border-radius: 20px;
    background: #869791 none repeat scroll 0% 0%;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-controls {
    text-align: center;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}