.myloginscreen{
  width:350px;
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}
.login{
  width: 100%;
  height: 300px;
/*  background: #ccc;*/
  margin: 100px 0px 20px 0px;

}
.login h3{
  text-align: center;
  color: #21af67;
  font-size: 30px;
}
.loginbox{
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.loginbox h5{
  display: block;
  background: #21af67;
  color: #fff;
  text-align: center;
  padding: 9px 4px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300; 
  text-transform: uppercase;
}
.login_inner{
  width: 100%;
  height: auto;
  padding: 30px;
}
.login_input{
  margin: 10px 0px;
}
.input-group-addon {
    padding: 6px 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.one {
    padding: 6px 14px !important;
}
.customlogin{
    height: 43px !important;
}
.changecolor {
    display: block !important;
    color: #FFF;
    background: #21AF67 none repeat scroll 0% 0%;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid #0E9350;
    width: 100%;
    border-top: 0px;
    border-left: 0px !important;
    border-right: 0px !important;
}
.changecolor:hover{
  text-decoration: none;
  color: #fff;
  background: #0e9350;
  cursor: pointer;
}
.perinfo{
  width: 100%;
  height: auto;
  overflow: hidden;
}


/*--------------------------Responsive css---@-------------------------*/

/*------------max-width-768px--------*/
@media (max-width: 768px){
    .login{
    width: 100%;
    height: 300px;
    margin: 240px 0px 20px 0px;
    }
}



/*------------max-width-640px--------*/
@media (max-width: 640px){
    .login{
    width: 100%;
    height: 300px;
    margin: 20px 0px 20px 0px;
    }
}


/*------------max-width-480px--------*/
@media (max-width: 480px){
    .login{
    width: 100%;
    height: 300px;
    margin: 20px 0px 20px 0px;
    }
}


/*------------max-width-360px--------*/
@media (max-width: 360px){
    .login{
    width: 100%;
    height: 300px;
    margin: 80px 0px 20px 0px;
    } 
}


/*------------max-width-320px--------*/
@media (max-width: 320px){
    .login{
    width: 100%;
    height: 300px;
    margin: 80px 0px 20px 0px;
    } 
}



/*---------------------GOPI----------------------*/

/*
.gp-background {
    overflow: auto;
	display: table;
	width: 100%;
	height: 100%;
	background: #1E88E5;
	color: #fff;
	padding: 3em;
	position: relative;
}
*/


.login-page {
    overflow: auto;
    display: table;
    width: 100%;
    height: 100%;
    background: #1C81D9;
    color: #fff;
    padding: 3em;
    position: relative;
}
.login-page .img-container {
    text-align: right;
    width: 40%;
    position: relative;
}
.login-page .img-container, .login-page .form-content {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}
.pull-right {
    float: right !important;
}
.text-center {
    text-align: center;
}
.login-page .user-avatar {
    max-width: 230px;
    width: 100%;
    border: 3px solid #fff;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.login-page h1 {
    font-weight: 700;
    line-height: 32px;
    font-size: 34px;
}
.login-page h1 small {
    color: #fff;
    opacity: .7;
    padding-right: 5px;
    font-size: 16px;
    display: block;
    margin-top: 8px;
}
.login-page::before {
    content: '';
    background-color: rgba(255,255,255,.15);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    border-right: solid 120px #1c81d9;
}
.login-page .form-content {
    position: relative;
}
.login-page .img-container, .login-page .form-content {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}
.login-page .form-content .bottom-75 {
    margin-bottom: 75px;
    max-width: 400px;
}
.login-page {
    color: #fff;
}
.login-page .form-content .table-form {
    display: table;
    width: 100%;
}
.login-page .form-content .table-form .form-groups {
    display: table-cell;
    vertical-align: middle;
}
.login-page .form-group {
    padding: 8px 0;
    margin-bottom: 0;
}
.login-page .form-content .form-control {
    background: #176CB7;
border-color: #176CB7;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.login-page .form-content .table-form .button-container {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
}
.login-page .form-content .login {
    height: 110px;
    width: 100px;
    border-radius: 0;
    background: #26C6DA;
border-color: #26C6DA;
    box-shadow: none;
    margin: 0px 0px 0px 15px !important;
    color: #fff;
}
.login-page .remember {
    margin-top: 8px;
}
.login-page .remember .checkbox1 {
    padding-right: 5px;
}
.checkbox1 {
    position: relative;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox1 input[type="checkbox"] {
    position: absolute;
    height: inherit;
    width: inherit;
    opacity: 0;
    left: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 1px 0 0;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.checkbox1 span {
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.checkbox1 span::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    color: #1abc9c;
    text-align: center;
    font-size: 22px;
    border: solid 2px #ddd;
    line-height: 16px;
}
.login-page .remember span.pass {
    float: right;
    padding-top: 2px;
}
[ui-view] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
::-webkit-input-placeholder { /* Chrome */
  color: #fff !important;
	opacity: 0.6 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
	opacity: 0.6 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
  opacity: 0.6 !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff !important;
  opacity: 0.6;
}